{% extends "base.html" %}

{% block title %}{{ file_name }}{% endblock %}
{% block main_class %}page-viewer{% endblock %}

{% block content %}
<div class="media-wrap">
  {% if is_video %}
  <video controls playsinline preload="metadata">
    <source src="/stream/{{ file_name }}" />
  </video>
  {% else %}
  <img src="/stream/{{ file_name }}" alt="{{ file_name }}" />
  {% endif %}
</div>
<a
  class="btn-download"
  href="/stream/{{ file_name }}"
  download="{{ file_name }}"
>
  &#8595; Download
</a>
{% endblock %}
